@media (min-width: 992px) {
    .content {
        padding: 0 0;
    }
    /* .container-xxl {
        padding: 0 15px !important;
    } */
}

.card .card-body {
    padding: 1rem 1.25rem;
}

.text-deep-pink {
    color: deeppink !important;
}

/* disabled the input type number arrow up dow*/
.disable-input-type-number-arrows::-webkit-inner-spin-button,
.disable-input-type-number-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.disable-input-type-number-arrows {
  -moz-appearance: textfield;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
    z-index: 999999999;
}

.container-xxl {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    max-width: 100%;
}

.form-control {
    height: 30px;
    padding: 0.375rem 0.75rem;
}

.btn {
    height: 30px;
}

.custom-checkbox-sm {
    width: 15px;
    height: 15px;
}

.flexdatalist-results .highlight{
    all: unset;
}

.anonymouscolsOff{
    display: none;
}

.bulkitemcolor {
    background: #0BA008;
}

.btn.btn-sm {
    font-size: 12.35px;
    padding-bottom: 25px !important;
    padding-top: 6px !important;
}
